<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chat</title>
</head>
<body>
    <p>Edit your chat: <b><%= chat._id%></b></p>
    <p>This chat was sent from <b><%= chat.from%></b> to <b><%= chat.to%></b></p>
    <form action="/chats/<%= chat._id%>?_method=PUT" method="post">
        <!-- the above _method=put is used using the npm method-overright packet -->
        <textarea name="msg" cols="50" rows="6"><%=chat.msg%></textarea>
        <button>Edit</button>
    </form>
</body>
</html>